<header class="sw-site-header u-main-spacer">
  <div class="sw-logo-container">
    <h1><a href="{{@blog.url}}"><img src="{{asset 'img/mainlogo.png'}}" alt=""></a></h1>
  </div>
  <ul class="sw-site-menu menu">
    {{#get "tags" limit="all"}} {{#foreach tags}}
    <li><a href="{{url}}" class="sw-site-menu__link tag tag-{{slug}}">{{name}}</a></li>
    {{/foreach}} {{/get}}
  </ul>
</header>
