<header class="sw-site-header u-main-spacer">
  <div class="sw-logo">
    <a class="sw-logo__link" href="{{@blog.url}}"><img class="sw-logo__img" src="{{asset 'img/emazine_blue.png'}}" alt=""></a>
  </div>

  <div class="sw-site-menumobile" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="sw-mobile-category" type="button" data-toggle="example-menu">카테고리</button>
  </div>
  <div class="" id="example-menu">
    <ul class="sw-site-menuresponsive dropdown menu vertical medium-horizontal" data-dropdown-menu>
      {{#get "tags" limit="all"}} {{#foreach tags}}
      <li><a href="{{url}}" class="sw-site-menu__link tag tag-{{slug}}">{{name}}</a></li>
      {{/foreach}} {{/get}}
    </ul>
  </div>
</header>
