{{#foreach posts}}
<article class="u-main-spacer sw-loop__item {{post_class}}">
    <header>
        <h2><a href="{{url}}">{{title}}</a></h2>
    </header>
    <footer>
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
        {{tags prefix="  "}}
    </footer>
    <br>
    <section>

        <p>{{excerpt words="26"}}...</p>
    </section>

</article>
{{/foreach}}

<div class="u-main-spacer sw-pagination">
  {{pagination}}
</div>
