{{#foreach posts}}
<article class="u-main-spacer sw-loop__item {{post_class}}">
    <header>
        <h2><a href="{{url}}">{{title}}</a></h2>
    </header>
    <section>
        <p><a href="{{url}}">{{excerpt words="26"}}</a></p>
    </section>
    <footer>
        {{tags prefix=" on "}}
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
</article>
{{/foreach}}

<div class="u-main-spacer sw-pagination">
  {{pagination}}
</div>


