<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{@blog.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css" />
  <link rel="stylesheet" href="{{asset "util.css"}}">
  <link rel="stylesheet" href="{{asset "ghost-hack.css"}}">
  <link rel="stylesheet" href="{{asset "main.css"}}">
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{> header}}
  <main>
    {{{body}}}
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  {{ghost_foot}}
  <div class="sw-footer">
    <div class="u-main-spacer" >
    <a href="http://mathed.snu.ac.kr/" target="_blank"><img class="sw-footer-logo" src="{{asset 'assets/img/footer_main.png'}}" alt=""></a><br>
    08826 서울시 관악구 관악로1 서울대학교 사범대학 수학교육과 TEL:<a href="telto:02-880-7737">02-880-7737</a> | FAX:02-889-1747<br>
    문의 메일 : <a href="">웹진이름</a> | 글 게시 관련 문의 : <a href="mailto:webzine.post@gmail.com">webzine.post@gmail.com</a>
    </div>
  </div>
</body>
</html>
