<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{@blog.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset "util.css"}}">
  <link rel="stylesheet" href="{{asset "ghost-hack.css"}}">
  <link rel="stylesheet" href="{{asset "main.css"}}">
  <link rel="stylesheet" href="{{asset "post.css"}}">
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{> header}}
  <main>
    {{{body}}}

  </main>
  {{ghost_foot}}
  <div class="sw-footer">
    <div class="u-main-spacer" >
    <a href="http://mathed.snu.ac.kr/" target="_blank"><img class="sw-footer-logo" src="{{asset 'assets/img/footer_main.png'}}" alt=""></a><br>
    08826 서울시 관악구 관악로1 서울대학교 사범대학 수학교육과 <br class="u-mobile-linebreak"> TEL <a href="tel:02-880-7737">02-880-7737</a> | FAX <a href="fax:02-889-1747">02-889-1747</a><br>
    문의 메일 : <a href="mailto:snume.emazine@gmial.com">snume.emazine@gmail.com</a> <br>
    글 게시 관련 문의 : <a href="mailto:webzine.post@gmail.com">webzine.post@gmail.com</a>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script>
  <script>
    $(document).foundation();
    renderMathInElement(document.body);
  </script>
</body>
</html>
