<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{@blog.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css" />
  <link rel="stylesheet" href="{{asset "util.css"}}">
  <link rel="stylesheet" href="{{asset "ghost-hack.css"}}">
  <link rel="stylesheet" href="{{asset "main.css"}}">
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{> header}}
  <main>
    {{{body}}}
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  {{ghost_foot}}
  <div class="u-main-spacer sw-footer ">
    <img src="http://mathed.snu.ac.kr/sites/mathed.snu.ac.kr/files/%ED%91%B8%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%A7%81%EB%A1%9C%EA%B3%A0.png" alt="" >
    <p>서울대학교 수학교육센터<br>
    08826 서울시 관악구 관악로1 서울대학교 사범대학 수학교육과 TEL:02-880-7737 | FAX:02-889-1747</p>
  </div>
</body>
</html>
